.c-header {
  height: $header-size;
  width: 100%;

  .header--list {
    height: 100%;

    .header--list-item {
      text-align: right;
      color: $color-1;
      font-family: "Basier Square", sans-serif;
      font-size: 12px;
      font-weight: 500;
      line-height: 14px;
    }
  }
}
