.c-header {
  position: relative;
  z-index: $z-index-4;
  height: $header-size;
  width: 100%;

  .header-partners {
    background-color: $color-dark-bg;

    .header-partners-content {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-top: 20px;
      padding-bottom: 20px;
      width: 100%;
      height: 60%;

      .arsht {
        width: 250px;
      }

      .jpmc {
        width: 200px;
      }
    }
  }

  .header--list {
    height: 40%;
    display: flex;
    justify-content: space-between;

    .header-links,
    .header-logo,
    .header--list-item,
    .fresnel-container {
      display: flex;
      align-items: center;
      height: 100%;
    }

    .header--logo-image {
      height: 160px;
    }

    .header--logo-title {
      font-size: 14.5px;
      letter-spacing: 0.8px;
    }

    .header--list-item {
      height: 100%;
      color: $color-1;
      font-family: $font-sans;
      font-size: 12px;
      font-weight: 500;
      line-height: 14px;
      text-transform: uppercase;
      border-top: 3px solid transparent;

      &.--active {
        border-top: 3px solid $color-blue;
      }
    }

    .header-links .header--list-item {
      margin-left: rem(28px);
    }
  }

  &.--dark {
    color: $color-white;

    .header--list {
      border-bottom: 1px solid $color-white;

      .header--list-item {
        color: $color-white;
      }
    }

    .header-burger div {
      background: $color-white;
    }
  }

  .side-menu {
    display: none;
    flex-direction: column;
    background: $color-white;
    height: 100vh;
    width: 100%;
    text-align: left;
    position: absolute;
    top: 0;
    right: 0;
    z-index: $z-index-3;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);

    &.--open {
      display: flex;
      position: fixed;
      transform: translateX(0%);
    }

    .side-menu--links {
      display: flex;
      flex-direction: column;
      flex: 1;
      justify-content: center;
    }

    .menu-logo {
      height: $header-size;
      display: flex;
      align-items: center;
    }

    .header--list-link {
      font-size: rem(36px);
      color: $color-1;
      text-decoration: none;
      transition: color 0.3s linear;
      font-family: $font-serif;
      letter-spacing: 1px;
      line-height: 60px;
      opacity: 0.5;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      padding: 0 rem(37px);
    }

    .header--list-small-links {
      display: flex;
      flex-direction: column;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      padding: 0 rem(37px);

      a {
        opacity: 0.8;
        color: $color-1;
        font-family: $font-sans;
        font-size: 18px;
        line-height: 60px;
      }
    }

    .header--list-link.--active,
    .header--list-small-links a.--active {
      opacity: 1;
      border-left: 8px solid $color-blue;
    }

    .side-menu--separator {
      padding: rem(60px) rem(45px) rem(38px);

      div {
        height: 1px;
        width: 100%;
        opacity: 0.2;
        background-color: $color-1;
      }
    }
  }

  .header-burger {
    position: absolute;
    top: rem(17px);
    right: rem(25px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: rem(20px);
    height: rem(20px);
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: $z-index-4;

    &:focus {
      outline: none;
    }

    div {
      width: rem(20px);
      height: rem(2px);
      border-radius: 10px;
      transition: all 0.3s linear;
      position: relative;
      transform-origin: 0;
      background: $color-black;

      &:first-child {
        transform: rotate(0);
      }

      &:nth-child(2) {
        opacity: 1;
        transform: translateX(0);
      }

      &:nth-child(3) {
        transform: rotate(0);
      }
    }

    &.--open {
      position: fixed;

      div {
        background: $color-black;

        &:first-child {
          transform: rotate(45deg);
        }

        &:nth-child(2) {
          opacity: 0;
          transform: translateX(20px);
        }

        &:nth-child(3) {
          transform: rotate(-45deg);
        }
      }
    }
  }
}
