:root {

  // COLOR
  --brand-primary: #df6d60;
  --brand-secondary: #5db1b7;
  --brand-gray: #4e5462;
  --blue-hover: #65a8e8;
  --color-white: #fff;
  --color-light-blue: #eff5fc;
  --color-dark-bg: #323842;
  --select-blue: #317cc3;

  // EASES
  --ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);

  // FLEXBOX GRID
  --flexboxgrid-outer-margin: 1.5rem;
  --flexboxgrid-max-width: 1280px;

  // PADDING
  --container-padding: 1rem;
  --padding-quote: 2rem;

  // TEXT COLOR
  --text-light-on-gray: #c5cad0;
  --text-gray: #4e5462;
  --text-red: #df6d60;

  // WIDTH
  --columns-mq-medium: 800px;
  --container-max-width: 1240px;
  --meta-footer-size: 350px;

  @media screen and (min-width: 600px) {
    --container-padding: 2rem;
  }

  @media screen and (min-width: 800px) {
    --container-padding: 3rem;
    --meta-footer-size: 180px;
    --padding-quote: 8rem;
  }

  @media screen and (min-width: 1400px) {
    --container-padding: 4rem;
    --padding-quote: 20rem;
  }
}
