:root {

  // COLOR
  --brand-primary: #df6d60;
  --brand-secondary: #5db1b7;
  --brand-gray: #4e5462;
  --color-white: #fff;
  --color-light-blue: #eff5fc;

  // PADDING
  --container-padding: 1rem;
  --padding-quote: 2rem;

  // TEXT COLOR
  --text-light-on-gray: #c5cad0;
  --text-gray: #4e5462;
  --text-red: #df6d60;

  // WIDTH
  --columns-mq-medium: 800px;
  --container-max-width: 1240px;

  @media screen and (min-width: 600px) {
    --container-padding: 2rem;
  }

  @media screen and (min-width: 800px) {
    --container-padding: 3rem;
    --padding-quote: 8rem;
  }

  @media screen and (min-width: 1400px) {
    --container-padding: 4rem;
    --padding-quote: 20rem;
  }
}
