.c-button {
  display: flex;
  align-items: center;
  padding: rem(20px) rem(40px);
  border: 1px solid $color-black;
  color: $color-black;
  font-family: $font-sans;
  font-size: 10px;
  font-weight: 500;
  line-height: 13px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}
