.metaFooter {
  background-color: var(--color-dark-bg);
  height: var(--meta-footer-size);
  margin-bottom: -2px;
  padding-bottom: 70px;
  padding-top: 40px;
  width: 100%;

  @media screen and (min-width: 800px) {
    padding-bottom: 0;
    padding-top: 0;
  }
    
  .metaFooterContent {
    display: flex;
    justify-content: space-between;
    height: 100%;
    flex-direction: column;
      
    @media screen and (min-width: 800px) {
      align-items: center;
      flex-direction: row;
    }

    .rightBtns {
      display: flex;
      flex-direction: column;

      @media screen and (min-width: 800px) {
        flex-direction: row;
      }
    }
  }

  .wrapper {
    box-sizing: border-box;
    max-width: var(--flexboxgrid-max-width);
    margin: 0 auto;
    padding: 0  var(--flexboxgrid-max-width)/2;
    width: 100%;
  }

  .downloadBtn {
    border-color: var(--color-white);
    color: var(--color-white);
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    min-width: 200px;
    transition: background-color 0.2s var(--ease-in-out-cubic);

    &:hover {
      background-color: var(--color-white);
      color: var(--color-dark-bg);
    }

    &:active {
      background-color: var(--color-white);
      color: var(--color-dark-bg);
    }

    @media screen and (min-width: 800px) {
      margin-bottom: 0;
      margin-left: 10px;
      margin-right: 22px;
    }
  }

  .exploreBtn {
    border-color: var(--color-white);
    color: var(--color-white);
    margin-left: auto;
    margin-right: auto;
    min-width: 200px;
    transition: background-color 0.2s var(--ease-in-out-cubic);
    
    &:hover {
      background-color: var(--color-white);
      color: var(--color-dark-bg);
    }

    &:active {
      background-color: var(--color-white);
      color: var(--color-dark-bg);
    }

    @media screen and (min-width: 800px) {
      margin-left: 22px;
      margin-right: 10px;
    }

    @media screen and (min-width: 1200px) {
      margin-right: 0;
    }
  }

  .storiesBtn {
    background-color: var(--color-white);
    border-color: var(--color-white);
    color: var(--color-dark-bg);
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    min-width: 200px;
    transition: background-color 0.2s var(--ease-in-out-cubic);

    &:hover {
      background-color: var(--color-dark-bg);
      color: var(--color-white);
    }

    &:active {
      background-color: var(--color-dark-bg);
      color: var(--color-white);
    }

    @media screen and (min-width: 800px) {
      margin-bottom: 0;
      margin-left: 22px;
    }
  }
}
