.marker-container {
  position: relative;
  border: 1px solid red;
  
  &:hover {
    transform: scale(2);
    transform-origin: bottom center;
  }
  
  .image-story {
    box-sizing: border-box;
    cursor: pointer;
    height: 45px;
    transition: all 0.2s ease-in-out;
    width: 45px;
  }
}
