// Global styles

.underline {
  border-bottom: 8px solid var(--brand-secondary);
}

.container {
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding: 0 var(--container-padding);
  z-index: 5;
}

.cols {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: var(--columns-mq-medium)) {
    flex-direction: row;
  }
}

.cols2 .col {
  flex: 1;
  position: relative;
  width: 100%;

  @media screen and (min-width: var(--columns-mq-medium)) {
    width: 50%;
  }
}

.textWhite {
  color: var(--color-white);
}

.textGray {
  color: var(--brand-gray);
}

.textPrimary {
  color: var(--brand-primary);
}

.bgWhite {
  background-color: var(--color-white);
}

.bgGray {
  background-color: var(--brand-gray);
}

.bgPrimary {
  background-color: var(--brand-primary);
}

.bgSecondary {
  background-color: var(--brand-secondary);
}

.bgLightBlue {
  background-color: var(--color-light-blue);
}

.bold {
  font-weight: 600;
}

.fontUbuntu {
  font-family: Ubuntu, sans-serif !important;
  font-size: 1.3rem !important;
  font-weight: 600 !important;
}

.sectionTitle {
  font-family: "Oxygen", sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
}

.stories {
  font-family: "Oxygen", sans-serif;
  font-size: 1.1rem;
  overflow: hidden;

  p {
    font-family: "Oxygen", sans-serif;
    font-size: 1.1rem;
    line-height: 1.5;
    margin: 2rem 0;

    @media screen and (min-width: 500px) {
      font-size: 1rem;
      line-height: 1.8;
    }

    @media screen and (min-width: 1200px) {
      font-size: 1.3rem;
      line-height: 1.5;
    }
  }

  ul {
    li {
      font-family: "Oxygen", sans-serif;
      font-size: 1.1rem;

      @media screen and (min-width: 500px) {
        font-size: 1rem;
        line-height: 1.8;
      }

      @media screen and (min-width: 1200px) {
        font-size: 1.3rem;
        line-height: 1.5;
      }
    }
  }
}

.quoteContainer {
  color: white;
  padding: 1rem var(--padding-quote);
  text-align: center;
}

.listItem {
  list-style-position: inside;
  list-style-type: initial;
  margin-bottom: 0.2rem;
}

.footerPageContainer {
  color: white;
  hyphens: auto;
  margin-top: -1px;
  padding: 0 var(--container-padding);
  overflow-wrap: break-word;
  word-wrap: break-word;

  div {
    max-width: var(--container-max-width);
    margin: 0 auto;
    padding: 20px var(--container-padding);
  }

  p {
    font-size: 10px;
    line-height: 1rem;
    margin: 0;
    padding: 1.5px 0;

    @media screen and (min-width: 1000px) {
      font-size: 11px;
    }
  }

  p:first-child {
    border-top: 1px solid white;
    padding-top: 20px;
  }
}

// Section1
.section1 {
  background: url("/assets/images/stories/boulder/bo_section_1_bg.jpg");
  background-size: cover;
  background-position: center;
  padding-bottom: 4rem;
  position: relative;

  &::after {
    background-image: url("/assets/images/stories/boulder/bo_section_1_collage.webp");
    background-size: contain;
    background-position: bottom right;
    background-repeat: no-repeat;
    content: '';
    display: none;
    position: absolute;
    z-index: 5;

    @media screen and (min-width: 1000px) {
      bottom: 0;
      display: initial;
      height: 100%;
      right: 0;
      width: 50vw;
    }
  }

  .container {
    position: relative;
  }

  .treeLeafCollage {
    bottom: -8.6rem;
    display: none;
    height: 70%;
    left: 56.8%;
    position: absolute;
    width: 70%;
    z-index: 99;

    @media screen and (min-width: 1000px) {
      display: initial;
    }
  }

  @media screen and (min-width: 900px) {
    padding: 4rem 0 12rem;
  }

  @media screen and (min-width: 1200px) {
    padding: 10rem 0 12rem;
  }

  .section1Title {
    color: white;
    font-size: 2.8rem;
    line-height: 1.2;
    margin-bottom: 4rem;
    padding-top: 4rem;

    @media screen and (min-width: 600px) {
      font-size: 3.6rem;
      margin-bottom: 5rem;
    }

    @media screen and (min-width: 900px) {
      font-size: 5rem;
      line-height: 1.1;
      letter-spacing: -1.5px;
      max-width: 66rem;
    }

    span {
      font-family: "Big Caslon", sans-serif;
      font-weight: normal;
      letter-spacing: normal;
    }
  }

  .section1Text p {
    color: var(--color-white);
    font-size: 1.2rem;
    line-height: 1.4;
    max-width: 32rem;

    @media screen and (min-width: 600px) {
      font-size: 1.3rem;
      max-width: 42rem;
    }
  }
}

// Section 2 - video
.section2 {
  height: 0;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

// Section 3
.section3 {
  background: var(--brand-primary);
  color: white;
  overflow: hidden;
  position: relative;

  .colRight {
    padding: 2rem var(--container-padding);

    @media screen and (min-width: 1000px) {
      display: inline-block;
      max-width: calc(var(--container-max-width) / 2);
      margin-left: 52%;
      margin-right: max(calc(calc(100% - var(--container-max-width)) / 2), 1px);
      padding: 3rem var(--container-padding);
    }
  }

  .colLeft {
    min-height: 20rem;
    overflow: hidden;
    position: relative;

    @media screen and (min-width: 1000px) {
      display: inline-block;
      height: 100%;
      position: absolute;
      width: 50vw;
    }

    &::after {
      background-image: url("/assets/images/stories/boulder/bo_section_3_bg.jpg");
      background-size: cover;
      background-position: center;
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100vw;
      z-index: 0;

      @media screen and (min-width: 1000px) {
        width: 50vw;
      }
    }
  }
}

// Section 4
.section4 {
  padding: 0 0 4rem 0;
  position: relative;
  overflow: hidden;

  @media screen and (min-width: 900px) {
    padding: 4rem 0 0 0;
  }

  .contentLeft {
    position: relative;
    z-index: 2;
    max-width: 40rem;

    @media screen and (min-width: 900px) {
      width: 60%;
    }
  }

  .contentRight {
    position: relative;
    z-index: 1;
    margin-right: -1rem;

    @media screen and (min-width: 900px) {
      position: absolute;
      display: flex;
      top: 0;
      right: 0;
      width: 40%;
      justify-content: flex-end;
      margin-right: 0;
    }

    @media screen and (min-width: 1240px) {
      width: auto;
      height: 100%;
    }

    .section4Img {
      @media screen and (min-width: 900px) {
        height: 100%;
      }
    }
  }
}

// Section 5
.section5 {
  position: relative;
  overflow: hidden;

  @media screen and (min-width: 900px) {
    padding: 4rem 0 0 0;
  }

  .contentRight {
    margin: 4rem 0;
    position: relative;
    width: 100%;

    @media screen and (min-width: 900px) {
      max-width: 35rem;
      margin: 0 0 4rem 45%;
    }

    @media screen and (min-width: 1200px) {
      margin-left: 55%;
    }
  }

  .contentLeft {
    position: relative;
    z-index: 1;
    margin-left: -1rem;

    @media screen and (min-width: 900px) {
      position: absolute;
      display: flex;
      bottom: 0;
      left: 0;
      width: 40%;
      height: 100%;
      justify-content: flex-end;
      margin-left: 0;
    }

    @media screen and (min-width: 1200px) {
      left: -5vw;
      width: 50vw;
    }

    .section5Img {
      @media screen and (min-width: 900px) {
        height: 100%;
      }
    }
  }
}

// Section 6
.section6 {
  background-image: url("/assets/images/stories/boulder/bo_section_6_bg.webp");
  background-position: bottom right;
  background-size: 100vw auto;
  background-repeat: no-repeat;
  padding-top: 1rem;
  padding-bottom: calc(100vw - 70px);

  @media screen and (min-width: 1000px) {
    background-size: 61% auto;
    padding: 2rem 0;
  }

  @media screen and (min-width: 1400px) {
    background-size: auto 100%;
    padding: 4rem 0;
  }

  .section6Wrapper {
    @media screen and (min-width: 1000px) {
      max-width: 50%;
    }
  }
}

// Section 8
.section8 {
  background-image: url("/assets/images/stories/boulder/bo_section_8_bg.webp");
  background-position: bottom right;
  background-size: 100vw auto;
  background-repeat: no-repeat;
  padding-top: 4rem;
  padding-bottom: calc(100vw - 70px);

  @media screen and (min-width: 1000px) {
    background-size: 61% auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  @media screen and (min-width: 1400px) {
    background-size: auto 100%;
    padding-top: 4rem;
  }

  .section8Wrapper {
    @media screen and (min-width: 1000px) {
      max-width: 40%;
    }

    @media screen and (min-width: 1400px) {
      max-width: 50%;
    }
  }
}

// Section 9
.section9 {
  background-image: url("/assets/images/stories/boulder/bo_section_9_bg.webp");
  background-position: top left;
  background-size: auto 80vw;
  background-repeat: no-repeat;
  padding-bottom: 0;
  padding-top: 70vw;

  @media screen and (min-width: 600px) {
    padding-top: 74vw;
  }

  @media screen and (min-width: 1000px) {
    background-size: auto 40vw;
    background-position: bottom left;
    padding: 2rem 0;
  }

  @media screen and (min-width: 1400px) {
    background-size: auto 90%;
    padding: 4rem 0;
  }

  .section9Wrapper {
    padding: 4rem 0;

    @media screen and (min-width: 1000px) {
      left: 57%;
      max-width: 44%;
      padding: 1rem 0;
      position: relative;
    }

    @media screen and (min-width: 1400px) {
      top: 1rem;
    }
  }
}

// Section 10
.section10 {
  position: relative;
  padding-bottom: 110%;
  padding-top: 2rem;

  @media screen and (min-width: 600px) {
    padding-bottom: 53rem;
  }

  @media screen and (min-width: 1000px) {
    padding: 2rem var(--container-padding);
  }

  @media screen and (min-width: 1200px) {
    padding: 4rem var(--container-padding);
  }

  .section10Wrapper {
    @media screen and (min-width: 1000px) {
      max-width: 45%;
    }
  }

  &::before {
    background-image: url("/assets/images/stories/boulder/bo_section_10_bg.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right bottom;
    bottom: -12%;
    content: '';
    height: 120.7%;
    right: -13%;
    position: absolute;
    width: 120vw;
    z-index: 5;

    @media screen and (min-width: 600px) {
      background-position: right bottom;
      bottom: -10rem;
    }

    @media screen and (min-width: 1000px) {
      bottom: -20.7%;
      background-position: right 0 top;
      background-size: auto 100%;
      width: 61vw;
    }

    @media screen and (min-width: 1200px) {
      background-position: right -5rem top;
      right: 0;
      width: 50vw;
    }
  }
}

// Section 11
.section11 {
  position: relative;
  padding: 6rem 0 2rem 0;

  @media screen and (min-width: 1000px) {
    background-size: 61% auto;
    padding: 2rem 0;
  }

  @media screen and (min-width: 1400px) {
    background-size: auto 100%;
    padding-top: 4rem;
  }

  .container {
    @media screen and (min-width: 1000px) {
      display: flex;
      align-items: center;
    }
  }

  .section11Wrapper {
    @media screen and (min-width: 1000px) {
      max-width: 50%;
    }
  }

  .section11Aside {
    position: relative;
    font-family: "Big Caslon", serif;
    font-size: 2rem;
    line-height: 1.2;

    @media screen and (min-width: 500px) {
      max-width: 80vw;
    }

    @media screen and (min-width: 1000px) {
      max-width: none;
      padding-right: 13vw;
      padding-left: 5vw;
      font-size: 2.3rem;
    }

    @media screen and (min-width: 1400px) {
      font-size: 2.8rem;
    }
  }

  &::after {
    background-image: url("/assets/images/stories/corsage_2.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right top;
    bottom: -10vw;
    content: '';
    height: 32vw;
    left: -2vw;
    max-width: 260px;
    max-height: 260px;
    position: absolute;
    transform: rotate(-20deg);
    width: 32vw;
    display: none;

    @media screen and (min-width: 1400px) {
      bottom: -2vw;
      display: inherit;
      height: 22vw;
      left: -1vw;
      width: 22vw;
    }
  }
}

// Section 13
.section13 {
  color: var(--text-gray);
  overflow: hidden;
  position: relative;

  .colLeft {
    padding: 4rem var(--container-padding);

    @media screen and (min-width: 1000px) {
      display: inline-block;
      max-width: calc(var(--container-max-width) / 2.5);
      margin-left: max(calc(calc(100% - var(--container-max-width)) / 2), 1px);
      padding: 3rem var(--container-padding);
    }

    @media screen and (min-width: 1400px) {
      max-width: calc(var(--container-max-width) / 2);
      padding: 4rem var(--container-padding);
    }
  }

  .colRight {
    min-height: 50rem;
    overflow: hidden;
    position: relative;

    @media screen and (min-width: 1000px) {
      display: inline-block;
      height: 100%;
      margin-left: 50%;
      position: absolute;
      width: 50vw;
    }

    &::after {
      background-image: url("/assets/images/stories/boulder/bo_section_13_bg.jpg");
      background-size: cover;
      background-position: center;
      content: '';
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      width: 100vw;
      z-index: 0;

      @media screen and (min-width: 1000px) {
        width: 50vw;
      }
    }
  }
}

// Section 14
.section14 {
  background-image: url("/assets/images/stories/boulder/bo_section_14_bg.png");
  background-position: top left;
  background-size: auto 90vw;
  background-repeat: no-repeat;
  padding-top: 80vw;

  @media screen and (min-width: 600px) {
    background-size: auto 50vw;
    padding-top: 50vw;
  }

  @media screen and (min-width: 1000px) {
    background-size: auto 35vw;
    padding: 4rem 0;
    background-position: bottom left;
  }

  @media screen and (min-width: 1400px) {
    background-size: auto 100%;
    padding: 4rem 0;
  }

  .section14Wrapper {
    padding: 6rem 0;

    @media screen and (min-width: 1000px) {
      left: 57%;
      max-width: 43%;
      padding: 1rem 0;
      position: relative;
    }

    @media screen and (min-width: 1400px) {
      top: 1rem;
    }
  }
}

// Section15
.section15 {
  padding: 4rem var(--padding-quote);
  position: relative;
  text-align: center;
  z-index: 1;

  .title {
    color: var(--text-gray);
    font-size: 2rem;
  }

  .text {
    color: var(--text-red);
    font-family: "Big Caslon", serif;
    font-size: 1.8rem;

    @media screen and (min-width: 1000px) {
      font-size: 2.2rem;
    }
  }

  &::before {
    background-image: url("/assets/images/stories/boulder/bo_section_15_image_2.png");
    background-size: contain;
    background-repeat: no-repeat;
    content: '';
    display: none;
    height: 36vw;
    max-width: 260px;
    max-height: 260px;
    position: absolute;
    right: 0;
    top: -10vw;
    width: 36vw;
    z-index: 9;

    @media screen and (min-width: 1000px) {
      background-position: right -3rem top;
      display: initial;
      height: 22vw;
      top: -5vw;
      width: 22vw;
    }
  }

  &::after {
    background-image: url("/assets/images/stories/boulder/bo_section_15_image_1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right bottom -3rem;
    bottom: 0;
    content: '';
    display: none;
    height: 40%;
    left: 0;
    position: absolute;
    width: 25vw;

    @media screen and (min-width: 1000px) {
      display: initial;
      height: 28%;
      width: 30vw;
    }

    @media screen and (min-width: 1400px) {
      height: 70%;
      width: 15vw;
    }
  }
}

// Section 16
.section16 {
  color: var(--text-gray);
  overflow: hidden;
  position: relative;

  .colLeft {
    padding: 2rem var(--container-padding);

    @media screen and (min-width: 1000px) {
      display: inline-block;
      max-width: calc(var(--container-max-width) / 2.5);
      margin-left: max(calc(calc(100% - var(--container-max-width)) / 2), 1px);
      padding: 3rem var(--container-padding);
    }

    @media screen and (min-width: 1400px) {
      max-width: calc(var(--container-max-width) / 2);
    }
  }

  .colRight {
    min-height: 50rem;
    overflow: hidden;
    position: relative;

    @media screen and (min-width: 1000px) {
      display: inline-block;
      height: 100%;
      margin-left: 50%;
      position: absolute;
      width: 50vw;
    }

    &::after {
      background-image: url("/assets/images/stories/boulder/bo_section_16_bg.webp");
      background-size: cover;
      background-position: center;
      content: '';
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      width: 100vw;
      z-index: 0;

      @media screen and (min-width: 1000px) {
        width: 50vw;
      }
    }
  }
}

// Section 17
.section17 {
  background-image: url("/assets/images/stories/boulder/bo_section_17_bg.png");
  background-position: top center;
  background-size: auto 40%;
  background-repeat: no-repeat;
  padding-top: 10vh;

  @media screen and (min-width: 500px) {
    background-size: auto 60%;
    padding-top: 20vh;
  }

  @media screen and (min-width: 1000px) {
    background-position: top left;
    background-size: auto 100%;
    padding-top: 0;
    padding-bottom: 2rem;
  }

  @media screen and (min-width: 1400px) {
    background-size: auto 100%;
    padding-top: 0;
  }

  .section17Wrapper {
    padding: 0 0 3rem 0;

    @media screen and (min-width: 1000px) {
      left: 57%;
      max-width: 43%;
      padding: 3rem 0;
      position: relative;
    }

    @media screen and (min-width: 1400px) {
      top: 1rem;
    }

    .text {
      margin-top: 30vh;

      @media screen and (min-width: 600px) {
        margin-top: 30%;
      }

      @media screen and (min-width: 1000px) {
        margin-top: 0;
      }
    }
  }
}
