.c-home {
  background-color: $color-dark-bg;
  height: 100%;
  overflow: auto;

  .home-greeting {
    position: relative;
    margin-top: rem(30px);
    overflow: auto;
    background: $color-dark-bg url('../public/assets/images/home-map-bg.png');
    background-blend-mode: multiply;
    background-position: center;
    background-repeat: no-repeat;

    h2 {
      margin-top: rem(120px);
      font-family: $font-family-2;
      font-weight: $font-weight-medium;
      font-size: 34px;
      line-height: 40px;
    }

    h1 {
      margin-top: 8px;
      font-family: $font-family-2;
      font-weight: $font-weight-medium;
      font-size: 80px;
      line-height: 96px;
    }

    .break-line {
      height: 3px;
      width: 94px;
      background-color: $color-blue;
      margin: 30px auto;
    }

    p {
      max-width: 690px;
      font-family: $font-family;
      font-size: 18px;
      line-height: 30px;
    }

    .home-greeting--wrapper {
      position: relative;
      z-index: $z-index-2;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      color: $color-white;

      .home-cta {
        margin: rem(52px) auto rem(130px);
        border-color: $color-blue;
        color: $color-white;
      }
    }

    .home-greeting--gradient {
      position: absolute;
      bottom: 0;
      height: 420px;
      width: 100%;
      background: linear-gradient(0deg, #2d353f 0%, rgba(50, 56, 66, 0) 100%);
    }
  }

  .home-explore {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: $color-white;
    overflow: auto;
    background-color: $color-blue;

    .home-brush-stroke {
      width: 100%;
    }

    .map-icon {
      margin-top: rem(100px);
    }

    h2 {
      max-width: 760px;
      margin: rem(50px) 0;
      font-family: $font-family-2;
      font-weight: $font-weight-medium;
      font-size: 40px;
      line-height: 48px;
      text-align: center;
    }

    .home-search {
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 880px;
      margin-bottom: rem(266px);

      .home-search--select {
        height: 55px;
        width: 100%;

        .c-dropdown-menu {
          max-height: 240px;
        }
      }

      .search-btn {
        margin-left: rem(22px);
        min-width: 200px;
        border-color: $color-white;
        color: $color-white;
      }
    }
  }
}

.c-explore {
  background-color: $color-gray-5;

  .explore-search {
    height: $explore-search;
    display: flex;
    padding-top: rem(12px);
    padding-bottom: rem(12px);
    background-color: transparent;

    .explore-search--select {
      flex: 1;

      .c-autocomplete--select {
        background-color: transparent;
        box-shadow: unset;

        .c-autocomplete--input {
          font-family: $font-family-2;
          font-weight: $font-weight-medium;
          font-size: 34px;
          letter-spacing: 0;
          line-height: 41px;
        }
      }
    }

    .search-btn {
      background-color: $color-1;
      border-color: $color-1;
      color: $color-white;
    }
  }

  .map-wrapper {
    position: relative;
  }
}
