@import "styles/settings";
@import "styles/utils";

.sidebarCard {
  .cardBody {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: $color-white;
    margin: 0 0 calc(#{$space-1} / 2);
    min-height: rem(110px);
    padding: $space-1 * 2 $space-1 $space-1 $space-1 * 4; // 12 6 6 24

    .cardHeader {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .cardTitle {
        color: $color-1;

        .category {
          display: flex;
          align-items: center;
          margin-bottom: rem(8px);

          .categoryIcon {
            height: 20px;
            width: 20px;
            margin-right: rem(12px);
          }

          .categoryName {
            font-family: $font-sans;
            font-size: 10px;
            font-weight: 500;
            letter-spacing: 0.71px;
            line-height: 13px;
            text-transform: uppercase;
          }
        }

        .indicatorName {
          display: inline-block;
          max-width: 240px;
          font-family: $font-serif;
          font-size: 18px;
          line-height: 22px;
        }
      }

      .topControls {
        display: flex;
        flex-direction: row-reverse;
        margin-right: $space-1 * 3;

        .hazard {
          margin: 0 auto;
        }

        .toggleChart {
          height: 14px;
          margin-left: 16px;

          svg {
            width: 14px;
          }
        }
      }
    }

    .chartModule {
      margin: 20px 0;
      color: $color-1;
      font-family: $font-sans;

      .chartText {
        font-size: 14px;
        letter-spacing: 0;
        line-height: 30px;
      }

      .chartWrapper {
        display: flex;
        height: 28px;
        margin: 5px 0 12px;
      }

      .chartLegend {
        display: flex;
        justify-content: space-between;

        span {
          font-size: 10px;
          font-weight: 400;
          letter-spacing: 0.71px;
          line-height: 13px;
          text-transform: uppercase;
        }
      }
    }

    .cardFooterControls {
      display: flex;
      justify-content: flex-end;

      .controlButton {
        height: rem(28px);
        width: rem(95px);
        border: 1px solid adjust-color($color: $color-1, $alpha: -0.7);
        margin-left: 4px;
        color: $color-1;
        font-family: $font-sans;
        font-size: 10px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.71px;
        line-height: 13px;

        &.--active {
          color: $color-white;
          border: 1px solid transparent;
        }

        &.--wide {
          width: auto;
          padding: 0 12px;
        }

        &:disabled {
          color: adjust-color($color: $color-1, $alpha: -0.7);
          border: 1px solid adjust-color($color: $color-1, $alpha: -0.9);
          cursor: not-allowed;
        }
      }
    }
  }
}
