@font-face {
  font-family: 'Argesta Display';
  src: url('fonts/argestadisplay-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Basier Square';
  src: url('fonts/BasierSquare-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Basier Square';
  src: url('fonts/BasierSquare-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Basier Square';
  src: url('fonts/BasierSquare-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
