// Colors
$color-1: #4b5362;
$color-2: #45bde1;
$color-3: #caccd0;
$color-4: rgba(255, 255, 255, 0.05);
$color-secondary: #f0685b;
$select-blue: #317cc3;
$color-blue: #4595e1;
$color-main-blue: #0080a6;
$blue-hover: #65a8e8;
$grey-hover:  rgba(69, 149, 225, 0.1);
$grey-pressed: rgba(69, 149, 225, 0.3);

$color-white: #fff;
$color-black: #000;
$color-gray-1: #161616;
$color-gray-2: #515153;
$color-gray-3: #d0d1d3;
$color-gray-4: #f3f5fb;
$color-gray-5: #606878;
$color-gray-6: #393f44;
$color-dark-bg: #323842;

// Typography
$font-size-xs: 10px;
$font-size-s: 12px;
$font-size-d: 14px;
$font-size-m: 16px;
$font-size-l: 18px;
$font-size-xl: 40px;

$font-size-h1: 40px;
$font-size-h2: 32px;
$font-size-h3: 16px;
$font-size-h4: 12px;

$font-sans: "Basier Square", sans-serif;
$font-serif: "Big Caslon", serif;

// Weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// Space
$space-1: 6px;

// Sizes
$header-size: 118px;
$footer-size: 80px;
$footer-size-mobile: 140px;
$explore-search: 75px;

// Paddings
$box-padding: 40px 30px;

$horizontal-modal-padding-desktop: rem(75px);
$vertical-modal-padding-desktop: rem(100px);

$horizontal-modal-padding-mobile: rem(25px);
$vertical-modal-padding-mobile: rem(20px);

// Z-index
$z-index-1: 0;
$z-index-2: 1;
$z-index-3: 9;
$z-index-4: 10;

// Times
$animation-time: 0.16s;
$animation-time-2: 0.24s;
$animation-time-3: 0.5s;
$animation-time-4: 0.75s;

// Eases
$ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
$ease-in-sine: cubic-bezier(0.47, 0, 0.745, 0.715);
$ease-out-sine: cubic-bezier(0.39, 0.575, 0.565, 1);
$ease-in-out-sine: cubic-bezier(0.445, 0.05, 0.55, 0.95);

// Flexbox grid
$xs: 0;
$s: rem(768px);
$m: rem(860px);
$l: rem(1024px);
$xl: rem(1080px);

$flexboxgrid-max-width: 1280px;
$flexboxgrid-grid-columns: 12;
$flexboxgrid-gutter-width: 1.5rem;
$flexboxgrid-outer-margin: 1.5rem;
$flexboxgrid-breakpoints: (
  xs: $xs,
  s: $s,
  m: $m,
  l: $l,
  xl: $xl,
);
