.c-explore-map {
  position: relative;
  height: calc(100vh - #{$header-size} - #{$footer-size} - #{$explore-search});
  z-index: 0;

  &.--embed {
    height: 100vh;
  }
}

.c-legend {
  position: absolute;
  z-index: 1;
  bottom: 24px;
  right: 24px;

  .vizzuality__c-legend-item h3 {
    font-size: 12px;
    letter-spacing: 1px;
    margin: 3px 0;
  }

  .vizzuality__c-legend-map .vizzuality__legend-title {
    color: $color-gray-6;
    flex-grow: 1;
    flex-shrink: 1;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 3px 0;

    .vizzuality__toggle-legend {
      margin-left: 15px;
    }
  }
}

.visibility-stories-button {
  align-items: center;
  background: white;
  box-shadow: 0 8px 9px 0 rgba(75, 83, 98, 0.12);
  
  display: flex;
  height: 51px;
  justify-content: center;
  margin-top: 5px;
  position: absolute;
  width: 51px;

  &:hover {
    background: darken($color-white, 2.5);
  }
  
  .icon-visibility {
    height: 24px;
    width: 24px;
  }
}
