.c-explore-map {
  position: relative;
  height: calc(100vh - #{$header-size} - #{$footer-size} - #{$explore-search});
  z-index: 0;
}

.c-legend {
  position: absolute;
  z-index: 1;
  bottom: 24px;
  right: 24px;

  .vizzuality__c-legend-item h3 {
    font-size: 12px;
    letter-spacing: 1px;
    margin: 3px 0;
  }
}
